.imgParaContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.img {
  width: 100%;
  height: auto;
  max-width: 100px;
  max-height: 100px;
  margin-right: 10px;
}
.p {
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 20px;
  flex: 1;
  margin-left: 20px;
}
