.footerItem {
    background-color: #344258;
    font-family: "Montserrat Alternates";
}

.header {
    color: white;
    text-align: center;
    padding: 10px;
}

.main {
    padding-top: 20px;
    padding-bottom: 15px;
}

.textColor {
    color: #fbfbfb;
}

.links {
    color: white;
    transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -ms-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    cursor: pointer;
}

.links:hover {
    color: #ee394a;
}