:root {
  --main-color: #ee394a;
  --secondary-color: #ffe6e69d;
}

body {
  background-color: #fbf1f0 !important;
  overflow-x: hidden;
}
body[data-theme="dark"] {
  background-color: #000 !important;
}

p,
span,
h3,
.isColor {
  color: black !important;
}

p:not([style*="color"]) {
  color: inherit !important;
}
h3:not([style*="color"]) {
  color: inherit !important;
}
span:not([style*="color"]) {
  color: inherit !important;
}
.isColor:not([style*="color"]) {
  color: inherit !important;
}

.main-color {
  color: var(--main-color);
}

.secondary-color {
  background-color: var(--secondary-color);
}

a {
  text-decoration: none;
}
