:root {
  --main-color: #ee394a;
  --secondary-color: #ffe6e69d;
}

body {
  background-color: #fbf1f0;
}

.main-color {
  color: var(--main-color);
}

.secondary-color {
  background-color: var(--secondary-color);
}

a {
  text-decoration: none;
}